@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #eceff4;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

input[type='file'] {
    display: none;
}

.file-upload-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
}

.file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #5e81ac;
    color: white;
}

.file-upload-icon {
    margin-left: 1rem;
}

button {
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
