@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.file-input {
    display: flex;
    flex-direction: row;
}
